body {
    background-color: rgb(255, 189, 189);
}

* {
    color: black;
    font-family: 'Staatliches', cursive;
}

p{
    color: white;
    margin: 0px;
}

h2 {
    font-size: 35px;
    color: #ff80aa;
    font-weight: 100;
    margin-bottom: 0px;
    text-shadow: -2px 2px 2px #000,
                  2px 2px 2px #000,
                  2px -2px 0 #000,
                  -2px -2px 0 #000;
}

.container {
    text-align: -moz-center;
    text-align: -webkit-center;
}

.game {
    width: 1000px;
    height: 600px;
    border: 5px solid black;
}

.nameInput {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}

img {
    padding-top: 105px;
    height: 300px;
    width: 300px;
}

/* Container for skill bars */
.stat-container {
  width: 30%; 
  background-color: #ddd; 
  border: black 5px solid;
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.skills {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
  color: black;
  float: left;
}

.hunger {
    width: 100%; 
    background-color: #57ff2d;
} 
.energy {
    width: 100%; 
    background-color: #57ff2d;
} 
.entertainment {
    width: 100%; 
    background-color: #57ff2d;
} 

.stat-title {
    margin-top: 15px;
    position: absolute;
    color: #ff80aa;
    text-shadow: -2px 2px 2px #000,
				  2px 2px 2px #000,
				  2px -2px 0 #000,
				  -2px -2px 0 #000;
}

.care-button {
    position: absolute;
    margin-top: 50px;
    font-size: 20px;
}


button {
    color: black;
    background-color: #69afca;
    border: solid black 3px;
    transition: all .1s ease-in-out; 
    border-radius: 10px;
}

button:hover {
    transform: scale(1.08) ;
    cursor: pointer;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.static {
    animation-name: pulse;
    animation-duration: 1500ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}